.cardcontainerpage {
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  position: relative;
}

.cardcontainer {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.cardvector {
  position: absolute;
  display: inline-block;
  top: 485px;
  left: 20px;
}

@media only screen and (max-width: 600px) {
  .cardarraybox {
    display: block;
    overflow: hidden;
  
  }
}
